<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/home/edit/<%= user %>">Update your info</a> <br> <br>
    
    <% for(var i=0; i< car.length; i++ ){ %>
    <ul>
        <li><%= car[i].car_name %></li>
        <li>$<%= car[i].price %></li>
        <li><%= car[i].description %></li>
    </ul>
    <% } %>

</body>
</html>